{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}
{% block content %}

<header id="header"><!--header-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo ">
	<a href="{% url 'home:home' %}"><img src="{% static 'images/home/logo.png' %}" alt="" width="320"/></a>
										</div>

					</div>
                    <div class="col-sm-8">
						<div class="logo pull-left">
					<h1>PETRO RETAIL PHONEBOOK</h1>
                        </div>

					</div>


				</div>
			</div>
		</div><!--/header-middle-->




	</header><!--/header-->
    <br>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
                 {% if departament.departament_block_set.count == 0  %}

<h2>Сотрудники</h2>

{% else %}
<h2>Отделы</h2>
 {% endif %}


						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

                 {% if departament.departament_block_set.count != 0  %}
{% for departaments_block in departament.departament_block_set.all %}




                            <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href=""><span class="pull-right">({{ departaments_block.workers_set.count }})</span>{{ departaments_block.name }}</a></h4>
								</div>
							</div>

							{% endfor %}
                     {% else %}
                     {% for workers in departament.workers_set.all %}




                            <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="">{{ workers }}</a></h4>
								</div>
							</div>

							{% endfor %}
{% endif %}

						</div><!--/category-products-->


					</div>
				</div>

				<div class="col-sm-9 padding-right">
                    <h2 class="title text-center">{{ departament }}</h2>
<div class="beststudent">

                <ul>
  {% if departament.departament_block_set.count != 0  %}
{% for departaments_block in departament.departament_block_set.all %}
<li><a href="{{ departaments_block.get_absolute_url }}">{{ departaments_block }}</a></li>
   {% endfor %}
      {% else %}
{% for workers in departament.workers_set.all %}
<li>{{ workers }}</li>



{% endfor %}
{% endif %}



                 </ul>
</div>

				</div>
			</div>
		</div>
	</section>


{% endblock %}

